auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true
save-workspace-protocol=rolling
resolution-mode=highest
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*typescript*